<h1 id="page-title"><%=title %></h1>
<div id="list">
  <form action="/create" method="post" accept-charset="utf-8">
    <div class="item-new">
      <input class="input" type="text" name="word" />
      
    </div>
  </form>
<br><br>

<% todos.forEach( function ( todo ){ %>
  <div class="item">
    <a  title="word"><%= todo.word %></a>
   <a class="del-btn" href="/destroy/<%= todo._id %>" title="Delete">Delete</a><br><br>
   <textarea rows="4" cols="50" name="meaning"> <%= todo.meaning %> </textarea><br>
   <a class="update-link" href="/edit/<%= todo._id %>" title="comment"><%= todo.comment %></a>
  </div>
<% }); %>
</div>
